// to use this template, copy the file and rename it "env.h.in" and fill in related values

#ifndef CONFIG_H_IN
#define CONFIG_H_IN

#define BOT_TOKEN "your bot's token"
 
#define VERSION_MAJOR @p4dc_VERSION_MAJOR@
#define VERSION_MINOR @p4dc_VERSION_MINOR@

#endif